* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: unset;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

/* sign */

.sign-body {
    padding: 2rem 0rem;
}
  
.sign-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 24rem;
    margin: auto;
    padding: 2rem;
    margin-top: 5rem;
    align-items: center;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
    background: #fbfbfb;
}

@media screen and (max-width: 25rem) {
    .sign-container {
      border: 0px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      background: white;
    }
}
  
.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
}
  
input {
    background-color: #fbfbfb;
    font-size: 1.2rem;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    border: none;
}

.sign-btn {
    width: fit-content;
    padding: 0.4rem 2rem;
    font-size: 1.2rem;
    background: #d5232f;
    color: white;
    border-radius: 0.4rem;
    border: none;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    cursor: pointer;
}

.have-account {
    text-decoration: underline;
    cursor: pointer;
}

.display-none {
    display: none;
}

/*Nav Bar*/


.nav-bar {
    border-bottom: 3px solid #d5232f;
    height: 90px;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #eee;
}

.nav-icon {
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 4rem;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 0.5rem;
  }
  .nav-icon > img {
    width: 2.5rem;
    color: #d5232f;
  }
  .nav-icon > p {
    text-align: center;
    font-size: 1rem;
    color: #d5232f;
    font-weight: 700;
  }

  .nav-icon > h1 {
    text-align: center;
    font-size: 2rem;
    color: #d5232f;
    font-weight: 700;
  }
  
  .nav-icon:hover {
    background: lightgray;
  }
  
  .image {
    display: flex;
    width: 100%;
    padding: 0 4rem;
    justify-content: center;
    align-items: center;
    height: 15rem;
  }

@media screen and (max-width: 31.25rem) {
    .nav-bar {
      position: fixed;
      bottom: 0;
      width: 100%;
      border-right: none;
      border-top: 3px solid #d5232f;
      height: auto;
      padding: 1rem 0.6rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }
    .nav-icon {
      padding: 0;
    }
    .nav-icon > img {
      width: 2rem;
    }
  }

  .main-container {
    display: flex;
    position: relative;
}

.app-container {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow: hidden;
    height: 100vh;
}

.app-body {
    flex: 1 1;
    padding: 1rem;
    overflow: auto;
}